In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_json("scout_car.json", lines=True)

In [3]:
df.head()

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,kW,...,description,Emission Label,Gears,Country version,Electricity consumption,Last Service Date,Other Fuel Types,Availability,Last Timing Belt Service Date,Available from
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,NaN,...,"[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,NaN,...,[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.6 TDI S tronic Einparkhilfe plus+m...,Sedans,14640,VAT deductible,"83,450 km",02/2016,1 previous owner,NaN,...,"[\n, Fahrzeug-Nummer: AM-95365, , Ehem. UPE 2...",[\n4 (Green)\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.4 TDi Design S tronic,Sedans,14500,None,"73,000 km",08/2016,1 previous owner,NaN,...,"[\nAudi A1: , - 1e eigenaar , - Perfecte staat...",NaN,[\n6\n],NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-Tronic S-Line Ext. admired...,Sedans,16790,None,"16,200 km",05/2016,1 previous owner,NaN,...,"[\n, Technik & Sicherheit:, Xenon plus, Klimaa...",NaN,NaN,[\nGermany\n],NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 54 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   url                            15919 non-null  object
 1   make_model                     15919 non-null  object
 2   short_description              15873 non-null  object
 3   body_type                      15859 non-null  object
 4   price                          15919 non-null  int64
 5   vat                            11406 non-null  object
 6   km                             15919 non-null  object
 7   registration                   15919 non-null  object
 8   prev_owner                     9091 non-null   object
 9   kW                             0 non-null      float64
 10  hp                             15919 non-null  object
 11  Type                           15917 non-null  object
 12  Previous Owners                9279 non-null   object
 13  Next Inspection                3535 non-null   object
 14  Inspection new                 3932 non-null   object
 15  Warranty                       10499 non-null  object
 16  Full Service                   8215 non-null   object
 17  Non-smoking Vehicle            7177 non-null   object
 18  null                           15919 non-null  object
 19  Make                           15919 non-null  object
 20  Model                          15919 non-null  object
 21  Offer Number                   12744 non-null  object
 22  First Registration             14322 non-null  object
 23  Body Color                     15322 non-null  object
 24  Paint Type                     10147 non-null  object
 25  Body Color Original            12160 non-null  object
 26  Upholstery                     12199 non-null  object
 27  Body                           15859 non-null  object
 28  Nr. of Doors                   15707 non-null  object
 29  Nr. of Seats                   14942 non-null  object
 30  Model Code                     4978 non-null   object
 31  Gearing Type                   15919 non-null  object
 32  Displacement                   15423 non-null  object
 33  Cylinders                      10239 non-null  object
 34  Weight                         8945 non-null   object
 35  Drive chain                    9061 non-null   object
 36  Fuel                           15919 non-null  object
 37  Consumption                    14013 non-null  object
 38  CO2 Emission                   14111 non-null  object
 39  Emission Class                 12898 non-null  object
 40
Comfort & Convenience
        14999 non-null  object
 41
Entertainment & Media
        14545 non-null  object
 42
Extras
                       12957 non-null  object
 43
Safety & Security
            14937 non-null  object
 44  description                    15919 non-null  object
 45  Emission Label                 3985 non-null   object
 46  Gears                          11207 non-null  object
 47  Country version                7586 non-null   object
 48  Electricity consumption        137 non-null    object
 49  Last Service Date              566 non-null    object
 50  Other Fuel Types               880 non-null    object
 51  Availability                   635 non-null    object
 52  Last Timing Belt Service Date  16 non-null     object
 53  Available from                 272 non-null    object
dtypes: float64(1), int64(1), object(52)
memory usage: 6.6+ MB

In [5]:
df.isnull().sum() / df.isnull().shape[0] * 100

url                                0.000000
make_model                         0.000000
short_description                  0.288963
body_type                          0.376908
price                              0.000000
vat                               28.349771
km                                 0.000000
registration                       0.000000
prev_owner                        42.892141
kW                               100.000000
hp                                 0.000000
Type                               0.012564
Previous Owners                   41.711163
Next Inspection                   77.793831
Inspection new                    75.299956
Warranty                          34.047365
Full Service                      48.395000
Non-smoking Vehicle               54.915510
null                               0.000000
Make                               0.000000
Model                              0.000000
Offer Number                      19.944720
First Registration                10.032037
Body Color                         3.750236
Paint Type                        36.258559
Body Color Original               23.613292
Upholstery                        23.368302
Body                               0.376908
Nr. of Doors                       1.331742
Nr. of Seats                       6.137320
Model Code                        68.729192
Gearing Type                       0.000000
Displacement                       3.115774
Cylinders                         35.680633
Weight                            43.809285
Drive chain                       43.080596
Fuel                               0.000000
Consumption                       11.973114
CO2 Emission                      11.357497
Emission Class                    18.977323
\nComfort & Convenience\n          5.779257
\nEntertainment & Media\n          8.631195
\nExtras\n                        18.606696
\nSafety & Security\n              6.168729
description                        0.000000
Emission Label                    74.967021
Gears                             29.599849
Country version                   52.346253
Electricity consumption           99.139393
Last Service Date                 96.444500
Other Fuel Types                  94.472015
Availability                      96.011056
Last Timing Belt Service Date     99.899491
Available from                    98.291350
dtype: float64

In [6]:
drop_colums=["kW", "Electricity consumption", "Last Service Date", "Other Fuel Types", "Availability","Last Timing Belt Service Date", "Available from"]
df.drop(drop_colums, axis = 1, inplace=True)

In [7]:
(df.isnull().sum() / df.isnull().shape[0] * 100)

url                           0.000000
make_model                    0.000000
short_description             0.288963
body_type                     0.376908
price                         0.000000
vat                          28.349771
km                            0.000000
registration                  0.000000
prev_owner                   42.892141
hp                            0.000000
Type                          0.012564
Previous Owners              41.711163
Next Inspection              77.793831
Inspection new               75.299956
Warranty                     34.047365
Full Service                 48.395000
Non-smoking Vehicle          54.915510
null                          0.000000
Make                          0.000000
Model                         0.000000
Offer Number                 19.944720
First Registration           10.032037
Body Color                    3.750236
Paint Type                   36.258559
Body Color Original          23.613292
Upholstery                   23.368302
Body                          0.376908
Nr. of Doors                  1.331742
Nr. of Seats                  6.137320
Model Code                   68.729192
Gearing Type                  0.000000
Displacement                  3.115774
Cylinders                    35.680633
Weight                       43.809285
Drive chain                  43.080596
Fuel                          0.000000
Consumption                  11.973114
CO2 Emission                 11.357497
Emission Class               18.977323
\nComfort & Convenience\n     5.779257
\nEntertainment & Media\n     8.631195
\nExtras\n                   18.606696
\nSafety & Security\n         6.168729
description                   0.000000
Emission Label               74.967021
Gears                        29.599849
Country version              52.346253
dtype: float64

In [8]:
#df["Emission Label"].value_counts()

In [9]:
df["Emission Label"][1] == "['\n4 (Green)\n']"

False

In [10]:
df["Emission Label"][1]

['\n4 (Green)\n']

In [11]:
df["Emission Label"].dtype

dtype('O')

In [12]:
print(df["Emission Label"].value_counts())
print("-------------------")
print(df["Emission Class"].value_counts())

[\n4 (Green)\n]         3553
[\n1 (No sticker)\n]     381
[[], [], []]              40
[\n5 (Blue)\n]             8
[\n3 (Yellow)\n]           2
[\n2 (Red)\n]              1
Name: Emission Label, dtype: int64
-------------------
[\nEuro 6\n]          10139
[\nEuro 6d-TEMP\n]     1845
[[], [], []]            607
[\nEuro 6c\n]           127
[\nEuro 5\n]             78
[\nEuro 6d\n]            62
[\nEuro 4\n]             40
Name: Emission Class, dtype: int64

In [13]:
df["price"]

0        15770
1        14500
2        14640
3        14500
4        16790
         ...
15914    39950
15915    39885
15916    39875
15917    39700
15918    40999
Name: price, Length: 15919, dtype: int64

In [ ]:
# buradan itibaren stunları ve tplerini kontrol ediyorum

In [39]:
a=7
df.iloc[:,[a]]

      registration
0          01/2016
1          03/2017
2          02/2016
3          08/2016
4          05/2016
...            ...
15914          -/-
15915      01/2019
15916      03/2019
15917      06/2019
15918      01/2019

[15919 rows x 1 columns]

In [15]:
df.head(2)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,...,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,"56,013 km",01/2016,2 previous owners,66 kW,...,[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,"80,000 km",03/2017,None,141 kW,...,[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15919 entries, 0 to 15918
Data columns (total 47 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   url                      15919 non-null  object
 1   make_model               15919 non-null  object
 2   short_description        15873 non-null  object
 3   body_type                15859 non-null  object
 4   price                    15919 non-null  int64
 5   vat                      11406 non-null  object
 6   km                       15919 non-null  object
 7   registration             15919 non-null  object
 8   prev_owner               9091 non-null   object
 9   hp                       15919 non-null  object
 10  Type                     15917 non-null  object
 11  Previous Owners          9279 non-null   object
 12  Next Inspection          3535 non-null   object
 13  Inspection new           3932 non-null   object
 14  Warranty                 10499 non-null  object
 15  Full Service             8215 non-null   object
 16  Non-smoking Vehicle      7177 non-null   object
 17  null                     15919 non-null  object
 18  Make                     15919 non-null  object
 19  Model                    15919 non-null  object
 20  Offer Number             12744 non-null  object
 21  First Registration       14322 non-null  object
 22  Body Color               15322 non-null  object
 23  Paint Type               10147 non-null  object
 24  Body Color Original      12160 non-null  object
 25  Upholstery               12199 non-null  object
 26  Body                     15859 non-null  object
 27  Nr. of Doors             15707 non-null  object
 28  Nr. of Seats             14942 non-null  object
 29  Model Code               4978 non-null   object
 30  Gearing Type             15919 non-null  object
 31  Displacement             15423 non-null  object
 32  Cylinders                10239 non-null  object
 33  Weight                   8945 non-null   object
 34  Drive chain              9061 non-null   object
 35  Fuel                     15919 non-null  object
 36  Consumption              14013 non-null  object
 37  CO2 Emission             14111 non-null  object
 38  Emission Class           12898 non-null  object
 39
Comfort & Convenience
  14999 non-null  object
 40
Entertainment & Media
  14545 non-null  object
 41
Extras
                 12957 non-null  object
 42
Safety & Security
      14937 non-null  object
 43  description              15919 non-null  object
 44  Emission Label           3985 non-null   object
 45  Gears                    11207 non-null  object
 46  Country version          7586 non-null   object
dtypes: int64(1), object(46)
memory usage: 5.7+ MB

In [17]:
df.km = df.km.apply(lambda x : x.split(" ")[0])

In [18]:
df.km = df.km.apply(lambda x : x.replace(",",""))

In [20]:
df.km

0        56013
1        80000
2        83450
3        73000
4        16200
         ...
15914        -
15915     9900
15916       15
15917       10
15918        -
Name: km, Length: 15919, dtype: object

In [23]:
df.km = pd.to_numeric(df.km, errors="coerce")

In [30]:
df.km = df.km.astype("int",errors = "ignore")

In [31]:
df.km

0        56013.0
1        80000.0
2        83450.0
3        73000.0
4        16200.0
          ...
15914        NaN
15915     9900.0
15916       15.0
15917       10.0
15918        NaN
Name: km, Length: 15919, dtype: float64

In [34]:
(df.isnull().sum() / df.isnull().shape[0] * 100).km

6.432564859601733

In [144]:
df.registration

0        01/2016
1        03/2017
2        02/2016
3        08/2016
4        05/2016
          ...
15914        -/-
15915    01/2019
15916    03/2019
15917    06/2019
15918    01/2019
Name: registration, Length: 15919, dtype: object

In [145]:
örnek = df.registration.apply(lambda x : x.replace("-/-", "np.nan"))
örnek

0        01/2016
1        03/2017
2        02/2016
3        08/2016
4        05/2016
          ...
15914     np.nan
15915    01/2019
15916    03/2019
15917    06/2019
15918    01/2019
Name: registration, Length: 15919, dtype: object

In [146]:
örnek.isnull().sum()

0

In [147]:
örnek

0        01/2016
1        03/2017
2        02/2016
3        08/2016
4        05/2016
          ...
15914     np.nan
15915    01/2019
15916    03/2019
15917    06/2019
15918    01/2019
Name: registration, Length: 15919, dtype: object

In [148]:
örnek = pd.to_datetime(örnek, errors="coerce")

In [150]:
df.registration = örnek

In [151]:
df.registration

0       2016-01-01
1       2017-03-01
2       2016-02-01
3       2016-08-01
4       2016-05-01
           ...
15914          NaT
15915   2019-01-01
15916   2019-03-01
15917   2019-06-01
15918   2019-01-01
Name: registration, Length: 15919, dtype: datetime64[ns]

In [152]:
df.head(2)

,url,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,...,CO2 Emission,Emission Class,\nComfort & Convenience\n,\nEntertainment & Media\n,\nExtras\n,\nSafety & Security\n,description,Emission Label,Gears,Country version
0,https://www.autoscout24.com//offers/audi-a1-sp...,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,2016-01-01,2 previous owners,66 kW,...,[\n99 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Armrest, Automatic climate ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Catalytic Converter, Voice Cont...","[ABS, Central door lock, Daytime running light...","[\n, Sicherheit:, , Deaktivierung für Beifahr...",NaN,NaN,NaN
1,https://www.autoscout24.com//offers/audi-a1-1-...,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,80000.0,2017-03-01,None,141 kW,...,[\n129 g CO2/km (comb)\n],[\nEuro 6\n],"[Air conditioning, Automatic climate control, ...","[Bluetooth, Hands-free equipment, On-board com...","[Alloy wheels, Sport seats, Sport suspension, ...","[ABS, Central door lock, Central door lock wit...",[\nLangstreckenfahrzeug daher die hohe Kilomet...,[\n4 (Green)\n],[\n7\n],NaN

In [172]:

a = df["prev_owner"].apply(lambda x : x.split(" ")[0][0])

AttributeError: 'str' object has no attribute 'astype'

In [165]:
df["prev_owner"].str.split(" ")[0][0]

'1'

In [155]:
df["prev_owner"].isnull().sum()

6828

In [ ]:
df.km = df.km.astype("int",errors = "ignore")