In [1]:
import pandas as pd
import numpy as np
import re
import seaborn as sns

In [2]:
df = pd.read_csv("scout_car_My_solucon 1.Jupyter.csv")

In [3]:
df.head(2)

,Unnamed: 0,make_model,short_description,body_type,price,vat,km,registration,prev_owner,hp,...,Safety & Security,description,Emission Label,Gears,Country version,Now,age_car,Consumption_comb,Consumption_city,Consumption_country
0,0,Audi A1,Sportback 1.4 TDI S-tronic Xenon Navi Klima,Sedans,15770,VAT deductible,56013.0,01/2016,2.0,66,...,"['ABS', 'Central door lock', 'Daytime running ...","['\n', 'Sicherheit:', ' ', 'Deaktivierung für ...",NaN,NaN,NaN,2020,4.0,3.8,4.3,3.5
1,1,Audi A1,1.8 TFSI sport,Sedans,14500,Price negotiable,80000.0,03/2017,NaN,66,...,"['ABS', 'Central door lock', 'Central door loc...",['\nLangstreckenfahrzeug daher die hohe Kilome...,Green,7.0,NaN,2020,3.0,5.6,7.1,4.7

# Missingler le mücadele

In [4]:
df.iloc[:,[1]]

           make_model
0             Audi A1
1             Audi A1
2             Audi A1
3             Audi A1
4             Audi A1
...               ...
15909  Renault Espace
15910  Renault Espace
15911  Renault Espace
15912  Renault Espace
15913  Renault Espace

[15914 rows x 1 columns]

In [5]:
df["make_model"].value_counts(dropna=True)

Audi A3           3093
Audi A1           2614
Opel Insignia     2598
Opel Astra        2526
Opel Corsa        2219
Renault Clio      1838
Renault Espace     991
Renault Duster      34
Audi A2              1
Name: make_model, dtype: int64

In [6]:
df["make_model"].isnull().sum()

0

### df["short_description"] Aracın genel  özellikleriyle karsılastır

In [7]:
df.iloc[:,[2]]

                                       short_description
0            Sportback 1.4 TDI S-tronic Xenon Navi Klima
1                                         1.8 TFSI sport
2      Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
3                                1.4 TDi Design S tronic
4      Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
...                                                  ...
15909              Blue dCi 200CV EDC Executive 4Control
15910                TCe 225 EDC GPF LIM Deluxe Pano,RFK
15911  Blue dCi 200 EDC Initiale Paris Leder LED Navi...
15912  Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...
15913        INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX

[15914 rows x 1 columns]

In [8]:
df["short_description"]

0              Sportback 1.4 TDI S-tronic Xenon Navi Klima
1                                           1.8 TFSI sport
2        Sportback 1.6 TDI S tronic Einparkhilfe plus+m...
3                                  1.4 TDi Design S tronic
4        Sportback 1.4 TDI S-Tronic S-Line Ext. admired...
                               ...
15909                Blue dCi 200CV EDC Executive 4Control
15910                  TCe 225 EDC GPF LIM Deluxe Pano,RFK
15911    Blue dCi 200 EDC Initiale Paris Leder LED Navi...
15912    Blue dCi 200CV EDC Business , NUOVA DA IMMATRI...
15913          INITIALE PARIS TCe 225 EDC GPF NAVI SHZ AUX
Name: short_description, Length: 15914, dtype: object

### df["body_type"]

In [9]:
df.iloc[:,[3]]

      body_type
0        Sedans
1        Sedans
2        Sedans
3        Sedans
4        Sedans
...         ...
15909       Van
15910       Van
15911       Van
15912       Van
15913       Van

[15914 rows x 1 columns]

In [10]:
df["body_type"].value_counts(dropna = False)

Sedans           7899
Station wagon    3553
Compact          3152
Van               783
Other             290
Transporter        88
NaN                60
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

In [11]:
df["body_type"].isnull().sum()

60

In [12]:
df[df["body_type"].isnull()]["body_type"][0:2]# Nan ların indexi

3175    NaN
3255    NaN
Name: body_type, dtype: object

In [13]:
"""body_typ_nan = df[(df["make_model"] == "Audi A3") & (df["body_type"].isnull())]["body_type"]
body_typ_nan """

'body_typ_nan = df[(df["make_model"] == "Audi A3") & (df["body_type"].isnull())]["body_type"]\nbody_typ_nan '

In [14]:
"""body_typ_nan = df[(df["make_model"] == "Audi A3") & (df["body_type"].isnull())]["body_type"]
body_typ_nan.fillna("deneme", inplace = True)"""

'body_typ_nan = df[(df["make_model"] == "Audi A3") & (df["body_type"].isnull())]["body_type"]\nbody_typ_nan.fillna("deneme", inplace = True)'

## calısmadı ama neden????????? 

i_1 = 0
body_non_make_modeller = df[df["body_type"].isnull()]["make_model"]
for i in body_non_make_modeller:
    
    if i_1 != i :
        print(i)
        mode = df[df["make_model"] == f"{i}"]["body_type"].mode()[0]
        print(mode)
        
         
        body_typ_nan = df[(df["make_model"] == f"{i}") & (df["body_type"].isnull())]["body_type"]
        print(body_typ_nan)
        
        print("************") 
        body_typ_nan.fillna(mode, inplace = True)
        print(body_typ_nan)
           
                       
     
    i_1 = i

In [15]:
i_1 = 0
body_non_make_modeller = df[df["body_type"].isnull()]["make_model"]
for i in body_non_make_modeller:
    
    if i_1 != i :
        
               
        mode = df[df["make_model"] == f"{i}"]["body_type"].mode()[0]
         
        body_typ_nan = df[(df["make_model"] == f"{i}") & (df["body_type"].isnull())]["body_type"]
        
        #print(mode)
        print("************", i, mode)  
        
        for index in body_typ_nan.index :
            
            
            df.loc[index, "body_type"] = mode
            print(df.loc[index, "body_type"])
            
     
    i_1 = i

************ Audi A3 Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
************ Opel Astra Station wagon
Station wagon
Station wagon
Station wagon
Station wagon
Station wagon
Station wagon
Station wagon
************ Opel Corsa Compact
Compact
Compact
************ Opel Insignia Station wagon
Station wagon
Station wagon
Station wagon
************ Renault Clio Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
Sedans
************ Renault Espace Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van
Van

In [16]:
df["body_type"].isnull().sum()

0

In [17]:
df["body_type"].value_counts(dropna=False)

Sedans           7921
Station wagon    3563
Compact          3154
Van               809
Other             290
Transporter        88
Off-Road           56
Coupe              25
Convertible         8
Name: body_type, dtype: int64

## Drop

In [18]:
df.drop("Body", axis =1, inplace=True)

In [19]:
df.columns

Index(['Unnamed: 0', 'make_model', 'short_description', 'body_type', 'price',
       'vat', 'km', 'registration', 'prev_owner', 'hp', 'Previous Owners',
       'Next Inspection', 'Warranty', 'Full Service', 'Non-smoking Vehicle',
       'Make', 'Model', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Nr. of Doors', 'Nr. of Seats',
       'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight',
       'Drive chain', 'Fuel', 'CO2 Emission', 'Emission Class',
       'Comfort & Convenience', 'Entertainment & Media', 'Extras',
       'Safety & Security', 'description', 'Emission Label', 'Gears',
       'Country version', 'Now', 'age_car', 'Consumption_comb',
       'Consumption_city', 'Consumption_country'],
      dtype='object')

## df['vat']

In [20]:
#### df['vat']   vat deductive ise True degil se False

In [21]:
df['vat'].value_counts(dropna =False)

VAT deductible      10979
NaN                  4511
Price negotiable      424
Name: vat, dtype: int64

In [22]:
df['vat'].isnull().sum() / df['vat'].shape[0]*100

28.346110343094132

In [23]:
df['vat'].replace("VAT deductible", True, inplace =True)

In [24]:
df['vat'].replace("Price negotiable", False, inplace =True)

In [25]:
df["vat"].fillna(True, inplace = True)

In [26]:
df['vat'].isnull().sum()

0

### df["km"]

In [27]:
df.columns[6]

'km'

In [28]:
df["km"].isnull().sum()

1024

In [29]:
df["km"].isnull().sum() / df.km.shape[0]*100

6.434585899208245

In [30]:
df.columns

Index(['Unnamed: 0', 'make_model', 'short_description', 'body_type', 'price',
       'vat', 'km', 'registration', 'prev_owner', 'hp', 'Previous Owners',
       'Next Inspection', 'Warranty', 'Full Service', 'Non-smoking Vehicle',
       'Make', 'Model', 'First Registration', 'Body Color', 'Paint Type',
       'Body Color Original', 'Upholstery', 'Nr. of Doors', 'Nr. of Seats',
       'Model Code', 'Gearing Type', 'Displacement', 'Cylinders', 'Weight',
       'Drive chain', 'Fuel', 'CO2 Emission', 'Emission Class',
       'Comfort & Convenience', 'Entertainment & Media', 'Extras',
       'Safety & Security', 'description', 'Emission Label', 'Gears',
       'Country version', 'Now', 'age_car', 'Consumption_comb',
       'Consumption_city', 'Consumption_country'],
      dtype='object')

In [31]:
df.groupby(["make_model", "age_car"])["km"].mean()

make_model      age_car
Audi A1         1.0         2494.501053
                2.0        13785.852901
                3.0        25821.712963
                4.0        54332.286169
Audi A2         2.0        26166.000000
Audi A3         1.0         2126.757322
                2.0        18421.587322
                3.0        43853.140741
                4.0        90133.488372
Opel Astra      1.0         2915.672018
                2.0        21442.708738
                3.0        49981.778535
                4.0        89134.265896
Opel Corsa      1.0         1079.616514
                2.0        17426.714495
                3.0        39977.979058
                4.0        62904.030303
Opel Insignia   1.0         3483.250000
                2.0        22193.801567
                3.0        47732.103565
                4.0        93187.985891
Renault Clio    1.0          727.282946
                2.0        15396.517730
                3.0        36660.153318
                4.0        68673.041363
Renault Duster  1.0          101.000000
Renault Espace  1.0         1755.752525
                2.0        14203.599138
                3.0        41886.635294
                4.0        74400.566667
Name: km, dtype: float64

In [32]:
df.groupby(["make_model", "age_car"])["km"].mean()

make_model      age_car
Audi A1         1.0         2494.501053
                2.0        13785.852901
                3.0        25821.712963
                4.0        54332.286169
Audi A2         2.0        26166.000000
Audi A3         1.0         2126.757322
                2.0        18421.587322
                3.0        43853.140741
                4.0        90133.488372
Opel Astra      1.0         2915.672018
                2.0        21442.708738
                3.0        49981.778535
                4.0        89134.265896
Opel Corsa      1.0         1079.616514
                2.0        17426.714495
                3.0        39977.979058
                4.0        62904.030303
Opel Insignia   1.0         3483.250000
                2.0        22193.801567
                3.0        47732.103565
                4.0        93187.985891
Renault Clio    1.0          727.282946
                2.0        15396.517730
                3.0        36660.153318
                4.0        68673.041363
Renault Duster  1.0          101.000000
Renault Espace  1.0         1755.752525
                2.0        14203.599138
                3.0        41886.635294
                4.0        74400.566667
Name: km, dtype: float64

*****km Nan larının 838 tanesi nin yas degeri de bos. % 81 bos

In [33]:
df[df.km.isnull()][["make_model", "age_car"]].isnull().sum() / df[df.km.isnull()][["make_model", "age_car"]].shape[0] *100

make_model     0.000000
age_car       81.835938
dtype: float64

In [34]:
df[df.km.isnull()][["make_model", "age_car"]].isnull().sum()

make_model      0
age_car       838
dtype: int64

### yasın yüzde 10 bos

In [35]:
df["age_car"].isnull().sum() / df["age_car"].shape[0] * 100

10.035189141636296

In [36]:
df[df["km"].notna()]["age_car"].isnull().sum()/ df[df["km"].notna()]["age_car"].shape[0] * 100

5.097380792478173

In [37]:
df[df["km"].isnull()].groupby(["make_model", "age_car"])["make_model", "age_car"].mean()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                        age_car
make_model     age_car
Audi A1        1.0          1.0
               2.0          2.0
Audi A3        1.0          1.0
               2.0          2.0
Opel Astra     1.0          1.0
               2.0          2.0
Opel Corsa     1.0          1.0
Opel Insignia  1.0          1.0
               2.0          2.0
Renault Clio   1.0          1.0
               2.0          2.0
               3.0          3.0
Renault Espace 1.0          1.0
               2.0          2.0

In [38]:
df.groupby("make_model")[["km","make_model","age_car"]].mean()

                          km   age_car
make_model
Audi A1         23925.285173  2.527535
Audi A2         26166.000000  2.000000
Audi A3         40360.446866  2.642729
Opel Astra      39023.504641  2.512024
Opel Corsa      25616.984630  2.325254
Opel Insignia   42011.823230  2.629133
Renault Clio    30493.733524  2.564761
Renault Duster    101.000000  1.000000
Renault Espace  35152.019108  2.610811

In [39]:
df["age_car"].value_counts()

2.0    4519
4.0    3672
3.0    3273
1.0    2853
Name: age_car, dtype: int64

In [40]:
df["age_car"].min()

1.0

In [41]:
df.groupby("age_car")["km"].mean()

age_car
1.0     2085.355137
2.0    18036.896229
3.0    41754.940709
4.0    77462.679466
Name: km, dtype: float64

In [42]:
df.groupby(["make_model","age_car"])["km"].mean()

make_model      age_car
Audi A1         1.0         2494.501053
                2.0        13785.852901
                3.0        25821.712963
                4.0        54332.286169
Audi A2         2.0        26166.000000
Audi A3         1.0         2126.757322
                2.0        18421.587322
                3.0        43853.140741
                4.0        90133.488372
Opel Astra      1.0         2915.672018
                2.0        21442.708738
                3.0        49981.778535
                4.0        89134.265896
Opel Corsa      1.0         1079.616514
                2.0        17426.714495
                3.0        39977.979058
                4.0        62904.030303
Opel Insignia   1.0         3483.250000
                2.0        22193.801567
                3.0        47732.103565
                4.0        93187.985891
Renault Clio    1.0          727.282946
                2.0        15396.517730
                3.0        36660.153318
                4.0        68673.041363
Renault Duster  1.0          101.000000
Renault Espace  1.0         1755.752525
                2.0        14203.599138
                3.0        41886.635294
                4.0        74400.566667
Name: km, dtype: float64

In [43]:
df.groupby(["make_model"])["km"].mean()

make_model
Audi A1           23925.285173
Audi A2           26166.000000
Audi A3           40360.446866
Opel Astra        39023.504641
Opel Corsa        25616.984630
Opel Insignia     42011.823230
Renault Clio      30493.733524
Renault Duster      101.000000
Renault Espace    35152.019108
Name: km, dtype: float64

In [44]:
df[df["km"].isnull()]["make_model"].unique()

array(['Audi A1', 'Audi A3', 'Opel Astra', 'Opel Corsa', 'Opel Insignia',
       'Renault Clio', 'Renault Duster', 'Renault Espace'], dtype=object)

In [45]:
df[df["make_model"] == 'Renault Duster'][["make_model", "km","age_car","price","description"]]

,make_model,km,age_car,price,description
14889,Renault Duster,NaN,NaN,13250,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14890,Renault Duster,NaN,NaN,16033,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14891,Renault Duster,101.0,1.0,16033,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14892,Renault Duster,NaN,NaN,16033,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14893,Renault Duster,101.0,1.0,16033,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14894,Renault Duster,101.0,1.0,13250,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14895,Renault Duster,NaN,NaN,13250,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14896,Renault Duster,101.0,1.0,13250,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix t..."
14897,Renault Duster,NaN,NaN,10850,"['\nRENAULT DUSTER P1.6L 4x4 MT 2018', 'ONLY T..."
14898,Renault Duster,101.0,1.0,14399,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14899,Renault Duster,NaN,NaN,14399,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14900,Renault Duster,NaN,NaN,13189,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14901,Renault Duster,101.0,1.0,14823,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14902,Renault Duster,101.0,1.0,14823,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14903,Renault Duster,NaN,NaN,14823,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14904,Renault Duster,NaN,NaN,14399,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14905,Renault Duster,101.0,1.0,14399,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14906,Renault Duster,NaN,NaN,14823,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14907,Renault Duster,101.0,1.0,13189,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14908,Renault Duster,NaN,NaN,13189,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14909,Renault Duster,101.0,1.0,13189,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14910,Renault Duster,101.0,1.0,12250,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14911,Renault Duster,101.0,1.0,12250,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix t..."
14912,Renault Duster,NaN,NaN,12250,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14913,Renault Duster,NaN,NaN,12250,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14914,Renault Duster,NaN,NaN,11900,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14915,Renault Duster,101.0,1.0,11900,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14916,Renault Duster,NaN,NaN,12000,"['\n', '[FRENCH]', '""INTERTRADE PROJECTS BELGI..."
14917,Renault Duster,NaN,NaN,11900,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."
14918,Renault Duster,101.0,1.0,11900,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix t..."
14919,Renault Duster,NaN,NaN,10900,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14920,Renault Duster,101.0,1.0,10900,"['\n', ' - EXPORT OUT EU TROPICAL VERSION', 'P..."
14921,Renault Duster,101.0,1.0,10900,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix t..."
14922,Renault Duster,NaN,NaN,10900,"['\n- EXPORT OUT EU TROPICAL VERSION', 'Prix T..."

In [46]:
#df[df["make_model"] == 'Renault Duster']["description"][14889].str.

In [47]:
duster_index = df[df["make_model"] == 'Renault Duster']["description"].index

In [48]:
len(duster_index)

34

In [49]:
say_eposta = 0
say_tel = 0
sahte_ilan_index = []
for index in duster_index:
    if '*info@transauto.be' in df["description"][index]:
        say_eposta +=1
        sahte_ilan_index.append(index)
    if "*+32 2 352 01 31" in  df["description"][index]:
        say_tel +=1
        
print("ePosta :",say_eposta,"    say_tel : ", say_tel)

ePosta : 32     say_tel :  32

not: Reno Dusterin İlanlarından 32 ilan aynı eposta ve aynı telefon numarasıyla verilmiş. Bu aracların km ve bilgileri hememen hemen aynı olamsından dolayı celişki teskil eder.

In [50]:
not(14889 in duster_index)

False

In [51]:
a =[]
aa =[]
for i in list(duster_index):
    
    
    
    if not(i in sahte_ilan_index):
        aa.append(i)

print(aa)

[14897, 14916]

In [52]:
df.loc[14895:14897][["price"]]

       price
14895  13250
14896  13250
14897  10850

In [53]:
say_eposta = 0
say_tel = 0
for i in df["description"]:
    if '*info@transauto.be' in i:
        say_eposta +=1
    if "*+32 2 352 01 31" in i :
        say_tel +=1
        
print("ePosta :",say_eposta,"    say_tel : ", say_tel)

ePosta : 32     say_tel :  32

Not : Tüm description sutunun da toplam da 32 aynı tel ve aynı eposta var

#drop a     sahte araba girdisi oldugundan bunları kaldırmay karar verdim

In [54]:
df.drop(sahte_ilan_index, axis = 0, inplace = True )

In [56]:
#df[df["make_model"] == 'Renault Duster']["description"][14891]

In [57]:
##df["description"].str[0].str.contains('*info@transauto.be', regex = True)

##Not : aynı tlf numarasından aynı e mail numarasından verilmis bir birine cok yakın arclar var

km Nan larından hepsinin marka modeli dolu

In [58]:
df[df["km"].isnull()]["make_model"].isnull().sum()

0

In [59]:
df[df["make_model"] == "Audi A1"]["km"].min()

0.0

In [60]:
df[df["km"] == 0][["km" ,"age_car", "make_model"]]

        km  age_car      make_model
734    0.0      NaN         Audi A1
2370   0.0      NaN         Audi A1
2496   0.0      NaN         Audi A1
2501   0.0      NaN         Audi A1
5013   0.0      NaN         Audi A3
5549   0.0      NaN         Audi A3
5603   0.0      NaN         Audi A3
5664   0.0      NaN         Audi A3
5668   0.0      NaN         Audi A3
7694   0.0      NaN      Opel Astra
7824   0.0      NaN      Opel Astra
8094   0.0      NaN      Opel Astra
9878   0.0      NaN      Opel Corsa
9888   0.0      NaN      Opel Corsa
9925   0.0      NaN      Opel Corsa
9931   0.0      NaN      Opel Corsa
12508  0.0      NaN   Opel Insignia
14513  0.0      NaN    Renault Clio
15663  0.0      NaN  Renault Espace

km si 0 olanların yasını 0 yaptım

In [61]:
for index in df[df["km"] == 0][["km" ,"age_car"]].index:
    
     df.loc[index, "age_car"] = 0.0

In [62]:
df.km.isnull().sum()

1008

In [63]:
df["km"].isnull().sum()

1008

In [64]:
km_nan_marka_model_unique = df[df["km"].isnull()]["make_model"].unique()
km_nan_marka_model_unique

array(['Audi A1', 'Audi A3', 'Opel Astra', 'Opel Corsa', 'Opel Insignia',
       'Renault Clio', 'Renault Duster', 'Renault Espace'], dtype=object)

In [65]:
for marka in km_nan_marka_model_unique:
    df[df["make_model"] == marka]["km"].mean()

In [66]:
df[df["make_model"] == "Audi A3"]["km"]

2615     19800.0
2616     36792.0
2617    149006.0
2618    141147.0
2619     44500.0
          ...
5703        54.0
5704        50.0
5705      6666.0
5706        10.0
5707        10.0
Name: km, Length: 3093, dtype: float64

In [67]:
df.groupby(["make_model", "age_car"])["make_model", "km"].mean()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                  km
make_model     age_car
Audi A1        0.0          0.000000
               1.0       2494.501053
               2.0      13785.852901
               3.0      25821.712963
               4.0      54332.286169
Audi A2        2.0      26166.000000
Audi A3        0.0          0.000000
               1.0       2126.757322
               2.0      18421.587322
               3.0      43853.140741
               4.0      90133.488372
Opel Astra     0.0          0.000000
               1.0       2915.672018
               2.0      21442.708738
               3.0      49981.778535
               4.0      89134.265896
Opel Corsa     0.0          0.000000
               1.0       1079.616514
               2.0      17426.714495
               3.0      39977.979058
               4.0      62904.030303
Opel Insignia  0.0          0.000000
               1.0       3483.250000
               2.0      22193.801567
               3.0      47732.103565
               4.0      93187.985891
Renault Clio   0.0          0.000000
               1.0        727.282946
               2.0      15396.517730
               3.0      36660.153318
               4.0      68673.041363
Renault Espace 0.0          0.000000
               1.0       1755.752525
               2.0      14203.599138
               3.0      41886.635294
               4.0      74400.566667

age_car dolu olmassa olmuyor:

In [68]:
df[(df["make_model"] =="Audi A1" )& (df["age_car"] == 1)]["km"].mean()

2494.501052631579

In [69]:
df["make_model"].unique()

array(['Audi A1', 'Audi A2', 'Audi A3', 'Opel Astra', 'Opel Corsa',
       'Opel Insignia', 'Renault Clio', 'Renault Duster',
       'Renault Espace'], dtype=object)

In [70]:
df[(df["make_model"] == model_set )& (df["age_car"].notnull()) ]["age_car"].unique()

NameError: name 'model_set' is not defined

In [71]:
model_list =[]
age_list = []
mean_list=[]
for model  in df["make_model"].unique() : 
    for age in df[(df["make_model"] == model )& (df["age_car"].notnull()) ]["age_car"].unique():
        mean = df[(df["make_model"] ==model)& (df["age_car"] == age)]["km"].mean()
        model_list.append(model)
        age_list.append(age)
        mean_list.append(mean)
        
print(model_list)
print("*************************")   
print(age_list)    
print("*****************")    
print(mean_list)

['Audi A1', 'Audi A1', 'Audi A1', 'Audi A1', 'Audi A1', 'Audi A2', 'Audi A3', 'Audi A3', 'Audi A3', 'Audi A3', 'Audi A3', 'Opel Astra', 'Opel Astra', 'Opel Astra', 'Opel Astra', 'Opel Astra', 'Opel Corsa', 'Opel Corsa', 'Opel Corsa', 'Opel Corsa', 'Opel Corsa', 'Opel Insignia', 'Opel Insignia', 'Opel Insignia', 'Opel Insignia', 'Opel Insignia', 'Renault Clio', 'Renault Clio', 'Renault Clio', 'Renault Clio', 'Renault Clio', 'Renault Espace', 'Renault Espace', 'Renault Espace', 'Renault Espace', 'Renault Espace']
*************************
[4.0, 3.0, 2.0, 1.0, 0.0, 2.0, 2.0, 3.0, 4.0, 1.0, 0.0, 4.0, 3.0, 2.0, 1.0, 0.0, 4.0, 2.0, 3.0, 1.0, 0.0, 4.0, 3.0, 2.0, 1.0, 0.0, 4.0, 3.0, 2.0, 1.0, 0.0, 4.0, 3.0, 2.0, 1.0, 0.0]
*****************
[54332.28616852146, 25821.712962962964, 13785.85290148448, 2494.501052631579, 0.0, 26166.0, 18421.587322121602, 43853.14074074074, 90133.48837209302, 2126.757322175732, 0.0, 89134.26589595375, 49981.77853492334, 21442.70873786408, 2915.672018348624, 0.0, 62904.030303030304, 17426.71449487555, 39977.97905759162, 1079.6165137614678, 0.0, 93187.98589065256, 47732.103565365025, 22193.801566579634, 3483.25, 0.0, 68673.04136253042, 36660.153318077806, 15396.517730496455, 727.2829457364342, 0.0, 74400.56666666667, 41886.635294117645, 14203.599137931034, 1755.7525252525252, 0.0]

In [ ]:
df[(df["make_model"] == model_list[0] ) & (df["age_car"].isnull()) & (df["km"].notnull())]["km"]

In [83]:
km_kntrol_index_indexi = -1
küme={}
for i in range(0,len(model_list)):
    km_kntrol = df[(df["make_model"] == model_list[i] ) & (df["age_car"].isnull()) & (df["km"].notnull())]["km"]
    km_knt_index = df[(df["make_model"] == model_list[i] ) & (df["age_car"].isnull()) & (df["km"].notnull())]["km"].index
    model_for = model_list[i]
    for km in  km_kntrol:
        km_kntrol_index_indexi +=1
       
    
        
        for age in df[(df["make_model"] == model_for )& (df["age_car"].notnull()) ]["age_car"].unique():
            mean_1 = df[(df["make_model"] ==model_for)& (df["age_car"] == age)]["km"].mean()
            küme[mean_1] = age
    Nan_yası = küme[min(küme, key= lambda x: abs( x - km))]
    
    km_knt_index[km_kntrol_index_indexi]

        
    
     
        

print(küme)

{0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0, 4: 0.0, 6: 0.0, 7: 0.0, 8: 0.0, 9: 0.0, 10: 0.0, 11: 0.0, 12: 0.0, 13: 0.0, 14: 0.0, 15: 0.0, 16: 0.0, 17: 0.0, 18: 0.0, 19: 0.0, 20: 0.0, 21: 0.0, 22: 0.0, 23: 0.0, 24: 0.0, 25: 0.0, 26: 0.0, 27: 0.0, 28: 0.0, 29: 0.0, 30: 0.0, 31: 0.0, 32: 0.0, 33: 0.0, 34: 0.0, 35: 0.0}

In [145]:
km_knt_index[km_kntrol_index_indexi]

15133

In [151]:
df.iloc[km_knt_index[km_kntrol_index_indexi]]["age_car"]

4.0

In [156]:
df.iloc[km_knt_index]["age_car"]

IndexError: positional indexers are out-of-bounds

In [153]:
km_knt_index

Int64Index([15133, 15280, 15284, 15285, 15302, 15373, 15439, 15447, 15483,
            15494, 15496, 15515, 15518, 15539, 15551, 15577, 15578, 15595,
            15596, 15638, 15639, 15730, 15731, 15741, 15765, 15780, 15781,
            15782, 15821, 15836, 15838, 15848, 15851, 15855, 15866, 15869,
            15870, 15880, 15887, 15891, 15902],
           dtype='int64')

In [139]:
for i, y  in km_knt_index, km_knt_index:
    print(i,y)

ValueError: too many values to unpack (expected 2)

In [135]:
küme={}
liste = []
for age in df[(df["make_model"] == model_for )& (df["age_car"].notnull()) ]["age_car"].unique():
    mean_1 = df[(df["make_model"] ==model_for)& (df["age_car"] == age)]["km"].mean()
    küme[mean_1] = age
    
Nan_yası = küme[min(küme, key= lambda x: abs( x - km))]

    #liste.append(küme[])

#for arac_yas_sayısı in range(0, len(df[(df["make_model"] == model_for )& (df["age_car"].notnull()) ]["age_car"].unique())) :
    
 #   if km >

In [136]:
print(küme)
print(model_for)
print(km)
print(liste)

{74400.56666666667: 4.0, 41886.635294117645: 3.0, 14203.599137931034: 2.0, 1755.7525252525252: 1.0, 0.0: 0.0}
Renault Espace
41887
[]

In [137]:
Nan_yası

3.0

In [129]:
min(küme, key= lambda x: abs( x - km))

0.0

In [131]:
km = 41887

In [134]:
Nan_yası = küme[min(küme, key= lambda x: abs( x - km))]
Nan_yası

3.0

In [118]:
>>> min(myList, key=lambda x:abs(x-y))

NameError: name 'myList' is not defined

In [122]:
y = 8.3
a= {"x1":5,"x2":9,"x3":20}
aa={5:"x1", 9:"x2"}

In [123]:
min(aa, key= lambda x: abs( x - y))

9

In [106]:
liste[4]-3

-3.0

In [113]:
liste[4] <50

True

In [97]:
 x4 = küme[age]

In [103]:
deneme_küme=[x1: , x2:, x3:, x4:]

SyntaxError: invalid syntax (<ipython-input-103-4accc8ffc174>, line 1)

In [102]:
x2

14203.599137931034

In [84]:
df[(df["make_model"] ==model_for)& (df["age_car"] == age)]["km"].mean()aa

0.0

In [79]:
for i in range(0,len(model_list)):
    km_kntrol = df[(df["make_model"] == model_list[i] ) & (df["age_car"].isnull()) & (df["km"].notnull())]["km"]
    km_knt_index = df[(df["make_model"] == model_list[i] ) & (df["age_car"].isnull()) & (df["km"].notnull())]["km"].index

In [81]:
model_for

NameError: name 'model_for' is not defined

In [ ]:
2+2

In [72]:
for age in df[(df["make_model"] == model_list[i] )& (df["age_car"].notnull()) ]["age_car"].unique():
    küme[i] = df[(df["make_model"] ==model_list[i])& (df["age_car"] == age)]["km"].mean()

TypeError: list indices must be integers or slices, not str

In [75]:
 for i in df[(df["make_model"] == "Audi A1" )& (df["age_car"].notnull()) ]["age_car"].unique():
        print(i)

4.0
3.0
2.0
1.0
0.0

In [ ]:
for i in df[(df["make_model"] == model_list[i] )& (df["age_car"].notnull()) ]["age_car"].unique():
    print(i)

In [ ]:
df[(df["make_model"] == model_list[i] )& (df["age_car"].notnull()) ]["age_car"].unique()

In [ ]:
df[(df["make_model"] == "Audi A1" ) & (df["age_car"].isnull()) & (df["km"].notnull())]["km"]

In [ ]:
df[(df["make_model"] == "Audi A1" )]["age_car"].mean()

In [ ]:
# df["age_car"]

In [ ]:
df["age_car"].isnull().sum()

In [ ]:
df["km"].isnull().sum()

In [ ]:
df["km"].notnull()

In [ ]:
df.km.describe()

In [ ]:
sns.boxplot(df.km)

In [ ]:
a = df.km.sort_values(ascending =False)[:40].index
a

In [ ]:
df.iloc[a]["description"][9275]

In [ ]:
df.km[5708]

In [ ]:
df.description[5708]

In [ ]:
df.price[5708]

In [ ]:
df.price[57]

In [ ]:
df.iloc[9275]

In [ ]:
df[(df["age_car"].isnull()) & (df["km"].notnull())]["km"]

In [ ]:
def Most_fillna():

i_1 = 0
body_non_make_modeller = df[df["body_type"].isnull()]["make_model"]
for i in body_non_make_modeller:
    
    if i_1 != i :
        
               
        mode = df[df["make_model"] == f"{i}"]["body_type"].mode()[0]
         
        body_typ_nan = df[(df["make_model"] == f"{i}") & (df["body_type"].isnull())]["body_type"]
        
        #print(mode)
        print("************", i, mode)  
        
        for index in body_typ_nan.index :
            
            
            df.loc[index, "body_type"] = mode
            print(df.loc[index, "body_type"])
            
     
    i_1 = i

In [ ]:
df["Next Inspection"]

k=["".join(item).strip() if type(item) == list else item for item in oto["Next Inspection"]]


Joseph - Instructor  8:10 PM
nxtins = ["".join(item).strip() if type(item) == list else item for item in oto["Next Inspection"]]